html {
	-webkit-tap-highlight-color: transparent;
}

html, body {
	margin: 0;
}

:focus {
	outline: 0;
}

main, canvas, video {
	width: 100vw;
	height: 100vh;
}

canvas, video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
