html {
	-webkit-tap-highlight-color: transparent;
}

html, body {
	margin: 0;
}

:focus {
	outline: 0;
}

main {
	width: 100vw;
	height: 100vh;
}

section {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

section {
	transition: opacity .4s ease-out;
	opacity: 0;

	&.active {
		opacity: 1;
	}
}
