#page-end {
	p {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		padding: 20px;
		background-color: palette(Black, Secondary);

		color: palette(White);
		font-size: 24px;
		text-shadow: 0 0 4px palette(Black, Primary), 0 0 2px palette(Black, Primary), 0 0 1px palette(Black, Primary);
	}
}
