#share-bg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	height: 70vh;

	background-color: palette(Black, Secondary);
}

#share-img {
	position: absolute;
	top: 8vh;
	left: 5vw;
	width: 34vw;

	box-shadow: 0 0 8px palette(Black, Secondary);
}

#share-video {
	position: absolute;
	top: 8vh;
	right: 5vw;
	width: 34vw;

	box-shadow: 0 0 8px palette(Black, Secondary);
}

#page-share {
	p {
		position: absolute;
		top: 43vh;
		left: 5vw;
		right: 5vw;
		text-align: center;

		color: palette(White);
		font-size: 24px;
		text-shadow: 0 0 4px palette(Black, Primary), 0 0 2px palette(Black, Primary), 0 0 1px palette(Black, Primary);
	}

	button {
		text-align: center;
		border: 0;

		color: palette(White);
		font-size: 22px;
		font-weight: bold;
		padding: 15px 0;
		width: 20vw;
		text-shadow: 0 0 2px palette(Black, Primary);

		border-radius: 5px;
		box-shadow: 0 0 4px palette(Black, Secondary);

		cursor: pointer;

		position: absolute;
		top: 53vh;

		transition: all .2s ease;

		&:hover {
			transform: translateY(-2px);
			box-shadow: 0 0 8px palette(White, Primary), 0 0 4px palette(White, Primary);
		}
	}
}

@keyframes upload-btn {
	0% {
		background-color: palette(Red);
	}
	100% {
		background-color: palette(Red, 300);
	}
}

#share-btn-yes {
	background-color: palette(Red, 700);
	left: 15vw;

	&:hover {
		background-color: palette(Red);
	}

	&.animate {
		animation: upload-btn .4s ease-in-out alternate infinite;
		transform: none;
	}
}

#share-btn-no {
	background-color: palette(Grey, 700);
	right: 15vw;

	&:hover {
		background-color: palette(Grey);
	}
}
