#share-bg {
	position: absolute;
	top: 100px;
	left: 80px;
	right: 80px;
	height: 520px;

	background-color: palette(Black, Secondary);
}

#share-img {
	position: absolute;
	top: 140px;
	left: 120px;
	width: 480px;

	box-shadow: 0 0 8px palette(Black, Secondary);
}

#share-video {
	position: absolute;
	top: 140px;
	right: 120px;
	width: 480px;

	box-shadow: 0 0 8px palette(Black, Secondary);
}

#page-share {
	p {
		position: absolute;
		bottom: 210px;
		left: 0;
		right: 0;
		text-align: center;

		color: palette(White);
		font-size: 24px;
		text-shadow: 0 0 4px palette(Black, Primary), 0 0 2px palette(Black, Primary), 0 0 1px palette(Black, Primary);
	}

	button {
		text-align: center;
		border: 0;

		color: palette(White);
		font-size: 22px;
		font-weight: bold;
		padding: 15px 0;
		width: 250px;
		text-shadow: 0 0 2px palette(Black, Primary);

		border-radius: 5px;
		box-shadow: 0 0 4px palette(Black, Secondary);

		cursor: pointer;

		position: absolute;
		bottom: 140px;

		transition: all .2s ease;

		&:hover {
			transform: translateY(-2px);
			box-shadow: 0 0 8px palette(White, Primary), 0 0 4px palette(White, Primary);
		}
	}
}

@keyframes upload-btn {
	0% {
		background-color: palette(Red);
	}
	100% {
		background-color: palette(Red, 300);
	}
}

#share-btn-yes {
	background-color: palette(Red, 700);
	right: 51%;

	&:hover {
		background-color: palette(Red);
	}

	&.animate {
		animation: upload-btn .4s ease-in-out alternate infinite;
	}
}

#share-btn-no {
	background-color: palette(Grey, 700);
	left: 51%;

	&:hover {
		background-color: palette(Grey);
	}
}
