@keyframes top-text {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#page-top {
	h1 {
		position: absolute;
		top: 50%;
		left: 33%;
		right: 33%;
		transform: translateY(-50%);

		display: flex;
		align-items: center;
		background-color: palette(White, Dividers);

		img {
			width: 100%;
		}
	}
}

#top-display {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#top-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: palette(White);
	text-shadow: 0 0 4px palette(Black, Primary), 0 0 2px palette(Black, Primary), 0 0 1px palette(Black, Primary);
	font-size: 20px;

	animation: top-text 1s ease infinite alternate;
}

#top-svg {
	position: absolute;
	width: 30vw;
	height: 30vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(270deg);

	circle {
		fill: none;
		stroke: palette(White);
		stroke-width: 2px;
		stroke-opacity: 1;
		stroke-dasharray: 0 500;
		stroke-linecap: round;

		transition: all .5s ease-out;

		&.finish {
			stroke: palette(Orange);
			stroke-width: 20px;
			stroke-opacity: 0;
			stroke-dasharray: 500 500;
			transition: all 1s ease-in;
		}
	}
}
